* {
    box-sizing: border-box;
}
body
{
    font-family: var(--main-font);
    background-color: var(--body-background);
}
:root /* || Variables */
{
    --main-font: "Playfair Display", serif;
    --main-width: 50rem;
    --primary-color: coral;
    --text-color: rgb(30, 30, 30);
    --body-background: rgb(247, 243, 243); 
}

.titlecontainer{
    justify-content: center;
    gap: 1rem;
    text-align: center;
}

main
{
    display: block;
}
.imgcontainer
{
    width: 40rem;
    margin: auto;
    display: flex;
    justify-content: flex-end;
}
.imagecitationtext
{
    width: 40rem;
    display: flex;
    justify-content: flex-end;
    margin: auto;
    flex-direction: column;
}


.bottom{
    display: flex;
    justify-content: center;
    gap: 5rem;
}


h4{
    background-color: rgb(235, 189, 137);
    padding: 1rem;
    border-radius: 0.5rem;
}
